@import '~antd/dist/reset.css';

body {
  margin: 0;
  font-family: 'Segoe UI', 'Tahoma', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: #f0f2f5;
}

code {
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}
